<header class="ph2 ph0-ns w-60-m mt0 center-ns helvetica w-40-l">
    <nav class="dib fr border-box pv2 ph0 pv2-ns ">
        <ul class="ma0">
            <li class="dib v-top">
                <a itemProp="url" href="/" class="f5 f5-ns dib pv1 ph1 mv0 link dim">Home</a>
            </li>
            <li class="dib v-top">
                <a itemProp="url" href="/blog" class="f5 f5-ns dib pv1 ph1 mv0 link dim">Think</a>
            </li>
            <li class="dib v-top"></li>
                <a itemProp="url" href="/myblog" class="f5 f5-ns dib pv1 ph1 mv0 link dim">Blog</a>
            </li>
            <li class="dib v-top">
                <a itemProp="url" href="/about" class="f5 f5-ns dib pv1 ph1 mv0 link dim">About</a>
            </li>
        </ul>
    </nav>
</header>